.idea/
.venv/
data/
pretrained_checkpoint/
oyster_instance_masks_sam/
stage2_intra_oyster_segmentations_10x/
stage2_intra_oyster_segmentations_20x/
node_modules/
oyster_slide_downsampled_32x.png
pyrightconfig.json
package-lock.json
package.json
.DS_Store
output_stage1_masks_logging/
output_stage2_intra_oyster/
patching.py
